template/eggs/minecraft/mcdr-other-purpur.json
template/eggs/minecraft/mcdr-proxy-waterfall.json
template/eggs/minecraft/mcdr-server-fabric.json
template/eggs/minecraft/other-purpur.json
template/eggs/minecraft/proxy-waterfall.json
template/eggs/minecraft/server-fabric.json
